@model IEnumerable<NewStaffWeb.Models.zq_CustomerTable>

@{
    ViewBag.Title = "首页";
}

    <div class="row  am-cf">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
            <div class="widget wi am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">常用工具下载</div>
                    <div class="widget-function am-fr">
                        <a href="javascript:;" class="am-icon-cog"></a>
                    </div>
                </div>
                <div class="widget-body am-fr">
                    <div class="am-fl">
                        <div class="widget-fluctuation-period-text">
                            <a href="~/APP_NewRevise/培洛科技-批作业.application" style="font-size:15px!important;">批作业工具下载</a>
                            <div>
                                <a href="~/WpfApplication题目整理/WpfApplication题目整理.application" style="font-size:15px!important;">题目整理工具下载</a>
                            </div>
                            <div>
                                <a href="~/APP_LUTI/录题工具.application" style="font-size:15px!important;">题目录入工具下载</a>
                            </div>
                            @*<a href="#" class="widget-fluctuation-tpl-btn"><i class="am-icon-pencil" style="margin-top:0 !important;">更多工具下载</i></a>*@
                        </div>
                    </div>
                    <div class="am-fr am-cf">
                        <img src="~/assets/img/load.png" height="70px"/>
                        @*<div class="widget-fluctuation-description-amount text-success" am-cf>
                            +￥30420.56

                        </div>
                        <div class="widget-fluctuation-description-text am-text-right">
                            8月份收入
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
            <div class="widget widget-primary am-cf">
                <div class="widget-statistic-header">
                    每日数据截图
                </div>
                <div class="widget-statistic-body">
                    <div class="widget-statistic-value">
                        <a href="@Url.Action("Data","Home")" style="color:white;">Data Table</a>
                    </div>
                    <div class="widget-statistic-description">
                        题目录入表、错题待改表、 整题数量表等<strong>5张</strong> 表
                    </div>
                    <span class="widget-statistic-icon am-icon-pencil"></span>
                </div>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
            <div class="widget widget-purple am-cf">
                <div class="widget-statistic-header">
                    幸运大抽奖
                </div>
                <div class="widget-statistic-body">
                    <div class="widget-statistic-value">
                        <a href="@Url.Action("Lottery", "Home")" style="color:white;">Six Six Six</a>
                    </div>
                    <div class="widget-statistic-description">
                     <strong>员工幸运大抽奖</strong> 
                    </div>
                    <span class="widget-statistic-icon am-icon-support"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row am-cf">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">通知公告表</div>
                    <div class="widget-function am-fr">
                        <a href="javascript:;" class="am-icon-cog"></a>
                    </div>
                </div>
                <div class="widget-body-md widget-body am-fr" >
                   
                </div>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-6">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">客户信息表</div>
                    <div class="widget-function am-fr">
                        <a href="@Url.Action("Index", "zq_CustomerTable")" class="am-icon-cog"></a>
                    </div>
                </div>
                <div class="widget-body widget-body-md am-fr">
                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                        <thead>
                            <tr>
                                <th>客户姓名</th>
                                <th>客户电话</th>
                                <th>客户备注</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr class="gradeX">
                                <td>
                                    @Html.DisplayFor(modelItem => item.customerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.customerPhone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.customerMessage)
                                </td>
                                @*<td>
                                    <div class="tpl-table-black-operation">
                                        @Html.ActionLink("编辑", "Edit", new { id = item.id })
                                        @Html.ActionLink("详情", "Details", new { id = item.id })
                                        @Html.ActionLink("删除", "Delete", new { id = item.id }, new { @class = "tpl-table-black-operation-del" })
                                    </div>
                                </td>*@
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
